<h1>Welcome to Proof of concept for List of Pharmaceutical Products in Node/Express</h1>

<div class="col-sm-4">
    <h4>Requirements</h4>
    <pre>
        "dependencies": {
            "body-parser": "~1.18.2",
            "cas-authentication": "0.0.8",
            "cookie-parser": "~1.4.3",
            "csurf": "^1.9.0",
            "date-fns": "^1.29.0",
            "debug": "~2.6.9",
            "express": "~4.15.5",
            "express-handlebars": "^3.0.0",
            "express-session": "^1.15.6",
            "handlebars-helpers": "^0.10.0",
            "hbs": "~4.0.1",
            "morgan": "~1.9.0",
            "npm": "^5.7.1",
            "sequelize": "^4.35.2",
            "sequelize-cli": "^4.0.0",
            "serve-favicon": "~2.4.5",
            "sqlite3": "^3.1.13"
          },
          "devDependencies": {
            "nodemon": "^1.17.1"
          }
    </pre>
</div>

<hr class="clear" />

<p>More details about this research can be found on
    <a href="https://webgate.ec.europa.eu/ispedia/display/ISSTANDARDS/PQTM+2017-011%2C+Research+on+Scripting+Languages+and+Development+Frameworks" target="_new">
        PQTM 2017-011, Research on Scripting Languages and Development Frameworks</a>.
</p>

