<h1>Welcome to Proof of concept for List of Pharmaceutical Products in Node/Express</h1>

<div class="col-sm-4">
    <h4>Requirements</h4>
    <pre>
    </pre>
</div>
<div class="col-sm-4">
    <h4>Administration</h4>
</div>

<hr class="clear" />

<p>More details about this research can be found on
    <a href="https://webgate.ec.europa.eu/ispedia/display/ISSTANDARDS/PQTM+2017-011%2C+Research+on+Scripting+Languages+and+Development+Frameworks" target="_new">
        PQTM 2017-011, Research on Scripting Languages and Development Frameworks</a>.
</p>

